<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cartao-recompensa-heading" jhiTranslate="bestMealApp.cartaoRecompensa.home.createOrEditLabel">Create or edit a Cartao Recompensa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cartaoRecompensa.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cartaoRecompensa.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                        [(ngModel)]="cartaoRecompensa.numero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.validade" for="field_validade">Validade</label>
                    <input type="text" class="form-control" name="validade" id="field_validade"
                        [(ngModel)]="cartaoRecompensa.validade" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.pontuacao" for="field_pontuacao">Pontuacao</label>
                    <input type="number" class="form-control" name="pontuacao" id="field_pontuacao"
                        [(ngModel)]="cartaoRecompensa.pontuacao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.situacao" for="field_situacao">Situacao</label>
                    <select class="form-control" name="situacao" [(ngModel)]="cartaoRecompensa.situacao" id="field_situacao" >
                        <option value="ATIVO">{{'bestMealApp.SituacaoCartao.ATIVO' | translate}}</option>
                        <option value="INATIVO">{{'bestMealApp.SituacaoCartao.INATIVO' | translate}}</option>
                        <option value="CANCELADO">{{'bestMealApp.SituacaoCartao.CANCELADO' | translate}}</option>
                        <option value="PENDENTE">{{'bestMealApp.SituacaoCartao.PENDENTE' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
